* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background: #f4f5f8;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  width: 900px;
}

h1 {
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  background: #6c4cff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #6c4cff;
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #f9f9ff;
}

.high {
  color: red;
  font-weight: 500;
}

.medium {
  color: orange;
  font-weight: 500;
}

.low {
  color: green;
  font-weight: 500;
}

.status {
  background: #eee;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  display: inline-block;
}

.circle.done {
  background: #6c4cff;
  border-color: #6c4cff;
}

.circle.progress {
  border-color: #6c4cff;
  border-top-color: transparent;
  transform: rotate(45deg);
}

.delete {
  color: red;
  cursor: pointer;
}

.edit {
  cursor: pointer;
}